.main {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  min-height: calc(100vh - 100px);
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.header h1 {
  font-size: 2rem;
}

.description {
  margin: 0.5rem 0;
}

.smallText {
  max-width: 33rem;
  font-size: 0.9rem;
  line-height: 1.25;
  color: grey;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 3rem;
    min-height: auto;
    height: 70vh;
  }

  .header {
    margin: 0;
    margin-bottom: 1rem;
  }

  .projects {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .main {
    margin-top: 1rem;
    padding: 1rem;
  }
}