.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
  min-height: calc(100vh - 100px);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  margin-top: -2rem;
}

.image {
  position: relative;
  min-width: 500px;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.info h1 {
  margin: 0;
  margin-bottom: 1rem;
  max-width: 650px;
  font-size: 2rem;
  line-height: 1.2;
}

.info a {
  text-decoration: underline;
}

.info a:hover {
  opacity: 0.5;
}

.info p {
  max-width: 750px;
  line-height: 1.7;
}

.description {
  margin: 0.5rem 0;
}

.smallText {
  margin-top: 1rem;
  max-width: 640px !important;
  font-size: 0.9rem;
  line-height: 1.25;
  color: grey;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .image {
    min-width: 200px;
    height: 200px;
  }
  .info {
    max-width: 100%;
  }
  .info h1, .info p, .smallText {
    max-width: 100% !important;
  }
  .info br {
    display: none;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 4rem 1rem;
  }
  .header {
    flex-direction: column-reverse;
  }
  .info h1 {
    font-size: 1.5rem;
  }
  /* .image {
    min-width: 150px;
    height: 150px;
  } */
  .image {
    min-width: 100%;
    height: 90vw;
  }
  .image img {
    object-fit: cover;
  }
}